.container {
  display: flex;
  margin: 20px 0;
}
.name {
  margin-right: 50px;
}
.active {
  margin: 0 12px;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  background-color: rgb(80, 80, 241);
  color: #fff;
  cursor: pointer;
}
.notActive {
  margin: 0 12px;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.divButton {
  display: flex;
  justify-content: flex-end;
}
.divButton button {
  margin: 30px 0 30px 0;
  width: 170px;
  height: 32px;
  cursor: pointer;
}

.divResult {
  display: flex;
  margin: 12px 0 12px 0;
}
